
:root .imageEditorContainer {
	height: 100vh;
	width: 100vw;
}

body, :root {
	padding: 0;
	margin: 0;
	font-size: 11pt;
}

.exitOptionsDialog {
	width: 100vw;
	height: 100vh;
	font-size: 2em;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.exitOptionsDialog button {
	font-size: 2em;
}

.exitOptionsDialog input[type="radio"] {
	min-width: 20px;
}

:root .imageEditorContainer {
	--background-color-1: var(--joplin-background-color);
	--foreground-color-1: var(--joplin-color);
	--background-color-2: var(--joplin-background-color3);
	--foreground-color-2: var(--joplin-color3);
	--background-color-3: var(--joplin-raised-background-color);
	--foreground-color-3: var(--joplin-raised-color);
	--selection-background-color: var(--joplin-selected-color);
	--selection-foreground-color: var(--joplin-color);
	--primary-action-foreground-color: var(--joplin-color4);
}