.jsdraw--editButton {
	display: none;
	width: min-content;
	max-height: 50px;
	z-index: 1;
	opacity: 0.9;

	align-self: flex-end;
	justify-self: right;
}

.jsdraw--svgWrapper {
	display: inline-grid;
}

.jsdraw--svgWrapper > * {
	grid-row: 1;
	grid-column: 1;
}

.jsdraw--svgWrapper:hover .jsdraw--editButton,
.jsdraw--svgWrapper:focus .jsdraw--editButton,
.jsdraw--svgWrapper:focus-within .jsdraw--editButton,
.jsdraw--editButton:focus {
	display: block;
}
